/* version 1.9 */

/*.shadow { display:none; }*/
.bottomShadow { display:none; }
.noprint { display:none; }
.yesprint { display:block }
.printsmaller   { font-size: 90% }
.printheader2   { font-size: 120% }
div#summary.closed { border:1px solid #32498D; clear:right; max-height:none;}

.pagebreak { display:block; page-break-before:always; }
#Detail { page-break-before:avoid }



