.bottomShadow {visibility:collapse; line-height:0px; width:0px; height:0px; font-size:0px; margin:0px; padding:0px; }
.bottomShadow2 {visibility:collapse; line-height:0px; width:0px; height:0px; font-size:0px; margin:0px; padding:0px;}
